---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: '{{ .Values.ISTIO_PUBLIC_GATEWAY_NAME }}'
spec:
  gatewayClassName: istio
  listeners:
  - name: default
    port: 80
    protocol: HTTP
    allowedRoutes:
      namespaces:
        from: All
---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: '{{ .Values.ISTIO_PRIVATE_GATEWAY_NAME }}'
spec:
  gatewayClassName: istio
  listeners:
  - name: default
    port: 80
    protocol: HTTP
    allowedRoutes:
      namespaces:
        from: All