name: '[CR Synchronizer] Go build'

on:
  push:
    paths:
      - 'cr-synchronizer/**'
  pull_request:
    types: [ opened, synchronize, reopened ]
    paths:
      - 'cr-synchronizer/**'

permissions:
  contents: read
  pull-requests: read
  packages: write

concurrency:
  group: ci-${{ github.event_name }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  check-pr:
    name: Check if PR exists
    runs-on: ubuntu-latest
    outputs:
        hasOpenPr: ${{ steps.pr.outputs.hasOpenPr }}
    steps:
      - name: Check for open PR
        id: pr
        uses: Netcracker/qubership-core-infra/.github/actions/check-open-pr@v1.1.1

  docker-build:
    needs: [ check-pr ]
    if: ${{ !(github.event_name == 'push' && needs.check-pr.outputs.hasOpenPr == 'true') }}
    uses: netcracker/qubership-core-infra/.github/workflows/docker-build.yaml@v1.1.1
    with:
      dry-run: false
      config-filename: "cr-synchronizer---docker-dev-config.json"