name: '[CR Synchronizer] Go build'

on:
  workflow_dispatch:

jobs:
  docker-build:
    uses: netcracker/qubership-core-infra/.github/workflows/docker-build.yaml@v1.1.1
    with:
      dry-run: false
      config-filename: "cr-synchronizer---docker-dev-config.json"