name: '[CR Synchronizer] Go build'

on:
  workflow_dispatch:

jobs:
  build-with-sonar:
    uses: netcracker/qubership-core-infra/.github/workflows/go-build-with-sonar.yaml@v1.0.7
    with:
      actor: ${{ github.actor }}
      sonar-project-key: ${{ vars.SONAR_PROJECT_KEY_CR_SYNCHRONIZER }}
      go-module-dir: cr-synchronizer
    secrets:
      sonar-token: ${{ secrets.SONAR_TOKEN }}

  docker-build:
    needs: [ build-with-sonar ]
    uses: netcracker/qubership-core-infra/.github/workflows/docker-build.yaml@v1.0.7
    with:
      dry-run: false
      config-filename: "cr-synchronizer---docker-dev-config.json"